<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body data-ng-app="bodyStats" data-ng-controller="MainController">
<button data-ng-click="refresh()">Refresh (temporary solution)</button>

    <h2>Insert</h2>
    <form>
        <ul>
            <li>id: <input type="text" data-ng-model="entry.newId" ></li>
            <li>Name: <input type="text" data-ng-model="entry.newName" ></li>
            <li>Date: <input type="date" data-ng-model="entry.newDate" ></li>
            <li>Weight <input type="number" data-ng-model="entry.newWeight" ></li>
            <li>Chest: <input type="number" data-ng-model="entry.newFat_chest" ></li>
            <li>Abdominal: <input type="number" data-ng-model="entry.newFatAbdominal" ></li>
            <li>Thigh: <input type="number" data-ng-model="entry.newFatThigh" ></li>
            <li>Triceps: <input type="number" data-ng-model="entry.newFatTriceps" ></li>
            <li>Subscapular: <input type="number" data-ng-model="entry.newFatSubscapular" ></li>
            <li>Suprailiac: <input type="number" data-ng-model="entry.newFatSuprailiac" ></li>
            <li>Midaxillary: <input type="number" data-ng-model="entry.newFatMidaxillary" ></li>
            <li>Neck: <input type="number" data-ng-model="entry.newNeck" ></li>
            <li>Shoulders: <input type="number" data-ng-model="entry.newShoulders" ></li>
            <li>Chest:<input type="number" data-ng-model="entry.newChest" ></li>
            <li>Biceps: <input type="number" data-ng-model="entry.newBiceps" ></li>
            <li>Waist:<input type="number" data-ng-model="entry.newWaist" ></li>
            <li>Hips: <input type="number" data-ng-model="entry.newHips" ></li>
            <li>Thigh:<input type="number" data-ng-model="entry.newThigh" ></li>
        </ul>
    </form>

    <button data-ng-click="insertData()">Insert Data</button>






<ul data-ng-repeat="profile in profiles">
    <li>{{ profile.name }} <small>{{profile._id}}</small> <button data-ng-click="removeUser()">Remove User</button></li>
        <ul data-ng-repeat="entry in profile.entries">
            <li>Date: {{ entry.date }}</li>
            <li>Weight (Kg): {{ entry.weight }}</li>
            <li>Chest: {{ entry.fat_chest }}</li>
            <li>Abdominal: {{ entry.fat_abdominal }}</li>
            <li>Thigh: {{ entry.fat_thigh }}</li>
            <li>Triceps: {{ entry.fat_triceps }}</li>
            <li>Subscapular: {{ entry.fat_subscapular }}</li>
            <li>Suprailiac: {{ entry.fat_suprailiac }}</li>
            <li>Midaxillary: {{ entry.fat_midaxillary }}</li>
            <li>Neck: {{ entry.neck }}</li>
            <li>Shoulders: {{ entry.shoulders }}</li>
            <li>Chest: {{ entry.chest }}</li>
            <li>Biceps: {{ entry.biceps }}</li>
            <li>Waist: {{ entry.waist }}</li>
            <li>Hips: {{ entry.hips }}</li>
            <li>Thigh: {{ entry.thigh }}</li>
            <li><button data-ng-click="removeEntry()">Remove Entry</button></li>
        </ul>
    </li>

</ul>
<script src="../bower_components/angular/angular.js"></script>
<script src="app.js"></script>
</body>
</html>