<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link href="css/bootstrap.min.css" type="text/css">
    <link href="css/bootstrap-theme.min.css" type="text/css">
    <title></title>
</head>
<body data-ng-app="bodyStats" data-ng-controller="MainController">

    <h2>Insert</h2>
    <form name="entryForm">
        <ul>
            <li>id: <input type="text" data-ng-model="entry.newId" ></li>
            <li>Name: <input type="text" data-ng-model="entry.newName" required></li>
            <li>Date: <input type="date" data-ng-model="entry.newDate" required></li>
            <li>Weight <input type="number" data-ng-model="entry.newWeight" required></li>
            <li>Chest: <input type="number" data-ng-model="entry.newFat_chest" required></li>
            <li>Abdominal: <input type="number" data-ng-model="entry.newFatAbdominal" required></li>
            <li>Thigh: <input type="number" data-ng-model="entry.newFatThigh" required></li>
            <li>Triceps: <input type="number" data-ng-model="entry.newFatTriceps" required></li>
            <li>Subscapular: <input type="number" data-ng-model="entry.newFatSubscapular" required></li>
            <li>Suprailiac: <input type="number" data-ng-model="entry.newFatSuprailiac" required></li>
            <li>Midaxillary: <input type="number" data-ng-model="entry.newFatMidaxillary" required></li>
            <li>Neck: <input type="number" data-ng-model="entry.newNeck" required></li>
            <li>Shoulders: <input type="number" data-ng-model="entry.newShoulders" required></li>
            <li>Chest:<input type="number" data-ng-model="entry.newChest" required></li>
            <li>Biceps: <input type="number" data-ng-model="entry.newBiceps" required></li>
            <li>Waist:<input type="number" data-ng-model="entry.newWaist" required></li>
            <li>Hips: <input type="number" data-ng-model="entry.newHips" required></li>
            <li>Thigh:<input type="number" data-ng-model="entry.newThigh" required></li>
        </ul>
        <input type="submit" data-ng-click="insertData()" value="Insert Data">
    </form>







<ul data-ng-repeat="profile in profiles">
    <li>{{ profile.name }} <small>{{profile._id}}</small> <button data-ng-click="removeProfile(profile._id, entry.date)">Remove User</button></li>
        <ul data-ng-repeat="entry in profile.entries">
            <li>Date: {{ entry.date }}</li>
            <li>Weight (Kg): {{ entry.weight }}</li>
            <li>Chest: {{ entry.fat_chest }}</li>
            <li>Abdominal: {{ entry.fat_abdominal }}</li>
            <li>Thigh: {{ entry.fat_thigh }}</li>
            <li>Triceps: {{ entry.fat_triceps }}</li>
            <li>Subscapular: {{ entry.fat_subscapular }}</li>
            <li>Suprailiac: {{ entry.fat_suprailiac }}</li>
            <li>Midaxillary: {{ entry.fat_midaxillary }}</li>
            <li>Neck: {{ entry.neck }}</li>
            <li>Shoulders: {{ entry.shoulders }}</li>
            <li>Chest: {{ entry.chest }}</li>
            <li>Biceps: {{ entry.biceps }}</li>
            <li>Waist: {{ entry.waist }}</li>
            <li>Hips: {{ entry.hips }}</li>
            <li>Thigh: {{ entry.thigh }}</li>
            <li><button data-ng-click="removeEntry(profile._id, entry.date)">Remove Entry</button></li>
        </ul>
    </li>

</ul>
<script src="libs/angular.js"></script>
<script src="libs/jquery.js"></script>
<script src="libs/bootstrap.min.js"></script>
<script src="app.js"></script>
</body>
</html>